.signUpForm{
    padding-top: 100px;
    display: block;
    width: 600px;
    margin: auto;
    min-height: 630px;
}

.signUpPageName{
    padding: 20px 0;
    text-transform: uppercase!important;
    text-align: center;
    color: #004999;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid #696969;
}

.signUpContent{
    padding: 20px 0;
    display: grid;
    grid-template-columns: 150px 400px;
    grid-gap: 10px;
    justify-content: center;
}

.signUpLabel_in{
    color: #000000;
    margin: auto;
    width: 100%;
}

.signUpInp{
    width: 100%;
    border: 0;
    height: 40px;
    box-sizing: border-box;
}

.signUpErr{
    text-align: center;
    color: red;
    margin-top: -20px;
}

.signUpBtn-frame{
    display: flex;
    height: 30px;
    padding-top: 10px;
}

.signUpBtn{
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    Background-color: #d9000b;
    color: white;
    font-weight: bold;
    border: 0;
    text-decoration: none;
    margin: auto;
}