.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my__form {
    width: 500px;
    height: 550px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    box-shadow: -1px 7px 20px 2px rgb(0 0 0 / 43%);
}
.title__signup {
    font-size: 2rem;
    font-weight: 800;
    color: #42b6f5;
    padding: 20px;
}
.input__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 30px;
}

.input__form div {
    display: flex;
    padding: 5px;
    flex-direction: row;
    margin: 10px;
}

.input__form label {
    display: block;
    margin-right: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 4px;
    min-width: 150px;
}
.input__form input {
    border: 2px solid #88d1f8;
    height: 31px;
    border-radius: 4px;
    width: 60%;
    font-size: 1.1rem;
}
.btn__signup {
    width: 30%;
    padding: 8px 20px;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    background-color: #42b6f5;
    color: #fff;
}
.btn__signup:hover {
    background-color: #88d1f8;
}
.input__form input:focus {
    outline: none;
}
.label__selectfile {
    padding: 4px 8xp;
    background-color: #42b6f5;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    line-height: 150%;
}

.label__selectfile:hover {
    cursor: pointer;
    background-color: #88d1f8;
}
@media screen and (max-width: 600px) {
    .my__form {
        width: 80%;
        height: 650px;
    }

    .input__form div {
        flex-direction: column;
        margin: 5px;
    }
    .input__form input {
        width: 60vw;
    }
    .choose__file {
        flex-direction: row !important;
        font-size: 1rem !important;
        width: 20vw;
    }
    .title__avatar {
        display: block !important;
        min-width: 20vw !important;
        width: 10vw;
    }
}

@media screen and (max-width: 300px) {
    .choose__file {
        flex-direction: column !important;
        font-size: 1rem !important;
        width: 20vw;
    }
}
