{% load static %}


<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>My Blog</title>
       {% block cssblock %}
        {% endblock %}

    </head>

    <body>
    {% include 'homepage/navbar.html' %}
    {% block content %}

    {% endblock %}

    {% include 'homepage/footer.html' %}




    {% block jsblock %}
        {% endblock %}
    </body>
</html>